VITE_SOCKET_URL=http://localhost:5000

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDifg3vRJTeg_K-hY2ijW3u9JOKoHcK6Dw
VITE_FIREBASE_AUTH_DOMAIN=svtg-8169f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=svtg-8169f
VITE_FIREBASE_STORAGE_BUCKET=svtg-8169f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=706165894251
VITE_FIREBASE_APP_ID=1:706165894251:web:2c81767d944fb10208952e
VITE_FIREBASE_MEASUREMENT_ID=G-TQD7866SLQ

# VAPID Key
VITE_FIREBASE_VAPID_KEY=BJBLjUXkK63ppOMbPDI_iwQImXAyjyqktwui2cGvzsD4rkPjzKD8qy58LCybiKREZpD7_xnkpGLJkMZT-M9dQs8