PORT=5000
MONGO_URL=mongodb+srv://SVTG:svtg123@cluster0.936rmcg.mongodb.net/test?appName=Cluster0
MONGODB_URI=mongodb+srv://SVTG:svtg123@cluster0.936rmcg.mongodb.net/test?appName=Cluster0

JWT_SECRET=thisismysecretkey123

PAYHERE_MERCHANT_ID=1237437
PAYHERE_MERCHANT_SECRET=MzE2MzAyODgwNzEwMjE3ODEwNDk4MDA4OTMwMzI5MzIzNDAwODU=

OPENWEATHER_API_KEY=96fe630fdc08db36b5e9fd6b1144bc85
FRONTEND_URL=http://localhost:5173
